<div class='page_content'>
  <div *ngFor='let data of dataToShow' class='post_content'>
    <div style="margin-right: 20px; display: grid">
      <button appHighlightHover type="button" (click)="deletePost(data.id)" class='post_delete-button'>X</button>
    </div>
    <div>
        <h1 class='post_title'>{{data.title}}</h1>
        <h2 class='post_author'>User: {{data.id}}</h2>
        <p class='post_text'>{{data.body}}</p>
        <p class='post_author'>{{'05/04/2018'|date}}</p>
        <p class='post_author'>{{data|json}}</p>
        <p class='post_author'>{{'1111222233334444'|maskedCreditcard}}</p>
        <p>{{data.url ? data.url : ''}}</p>
      </div>
  </div>

</div>
